<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>

<body>
    <h1>Welcome User!</h1>
    <button onclick="logout()">Logout</button>

    <script>
        function logout() {
            // Perform logout actions here, such as clearing session data or redirecting to the login page
            alert("Logged out successfully!");
            window.location.href = "login.html"; // Redirect to the login page
        }
    </script>
    <h4 style="text-align: center;">copyright &copy; 2024 Online Bus Limited. All rights reserved</h4>
</body>

</html>